@import "tailwindcss";
*{
    margin: 0;
}
@font-face {
  font-family: 'yekan_bakh';
  src: url('/public/font/myfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yekan_bakh_bold';
  src: url('/public/font/YekanBakh-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}



/* From Uiverse.io by omar49511 */ 
.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border-style: none;
  padding: .5em 1em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  transition: all 250ms;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #026195;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}



/* From Uiverse.io by Cornerstone-04 */ 
.box {
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}



.box:hover:before {
  border-color: rgb(91, 174, 241);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: rgb(91, 174, 241);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.box{
  color: rgb(91, 174, 241);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}